{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tiny_aiplacement/imagemodal

    Modal to manage AI generated image content within the Tiny Editor.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * elementid: The id of the element that will be used to create the modal.
    * modaltitle: The title of the modal.

    Example context (json):
    {
        "elementid": "exampleId",
        "modaltitle": "Generate AI Image"
    }
}}
{{< core/modal }}

  {{$title}}
    {{#str}} imagemodaltitle, tiny_aiplacement{{/str}}
  {{/title}}

  {{$body}}
    <div id="{{elementid}}_tiny_aiplacement_spinner" class="hidden">
      <div class="tiny-aiplacement-loading-spinner d-flex justify-content-center align-items-center flex-column">
        <div class="spinner-border tiny-aiplacement-spinner-style" role="status">
          <span class="sr-only">
            {{#str}} loading, tiny_aiplacement{{/str}}
          </span>
        </div>
        <div id="{{elementid}}_tiny_aiplacement_loading_text" class="text-center tiny-aiplacement-spinner-text-style">
          {{#str}} loading, tiny_aiplacement{{/str}}
        </div>
      </div>
    </div>
    <div id="{{elementid}}_tiny_aiplacement_blur" class="">
      <form class="mform" id="{{uniqid}}">
        <div id="{{elementid}}_tiny_aiplacement_overlay" class="tiny-aiplacement-overlay hidden"></div>
        <div class="row">
          <div class="col-md-8">
            <div class="tiny-aiplacement-generate-image text-center">
              <div>
                <i id="{{elementid}}_tiny_aiplacement_fa_image"
                   class="fas fa-image tiny-aiplacement-fa-image">
                </i>
              </div>
              <div id="{{elementid}}_tiny_aiplacement_fa_image_text"
                   class="text-center font-weight-bold">
                {{#str}} generateimage, tiny_aiplacement{{/str}}
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="tiny-aiplacement-image-options">
              <span class="font-weight-bold">
                {{#str}} imagequality, tiny_aiplacement{{/str}}
              </span>
              <div class="tiny-aiplacement-toggle-container mt-1 mb-1">
                <input type="checkbox" id="toggle-switch" class="tiny-aiplacement-toggle-switch">
                <label for="toggle-switch" class="tiny-aiplacement-toggle-slider">
                  <span class="tiny-aiplacement-slider-left">
                    {{#str}} definitionstandard, tiny_aiplacement{{/str}}
                  </span>
                  <span class="tiny-aiplacement-slider-right">
                    {{#str}} definitionhigh, tiny_aiplacement{{/str}}
                  </span>
                </label>
              </div>
              <span class="font-weight-bold">
                {{#str}} imagestyle, tiny_aiplacement{{/str}}
              </span>
              <div class="tiny-aiplacement-toggle-container mt-1 mb-1">
                <input type="checkbox" id="toggle-switch2" class="tiny-aiplacement-toggle-switch">
                <label for="toggle-switch2" class="tiny-aiplacement-toggle-slider">
                  <span class="tiny-aiplacement-slider-left">
                    {{#str}} stylenatural, tiny_aiplacement{{/str}}
                  </span>
                  <span class="tiny-aiplacement-slider-right">
                    {{#str}} stylevivid, tiny_aiplacement{{/str}}
                  </span>
                </label>
              </div>
              <span class="font-weight-bold">
                {{#str}} aspectratio, tiny_aiplacement{{/str}}
              </span>
              <div class="tiny-aiplacement-aspect-ratio-container mt-1 mb-1">
                <label class="tiny-aiplacement-aspect-ratio-btn">
                  <input type="radio" name="aspect-ratio" value="square" checked>
                  <div class="tiny-aiplacement-aspect-ratio-label">
                    <i class="fas fa-square"></i>
                    <span>{{#str}} aspectsquare, tiny_aiplacement{{/str}}</span>
                  </div>
                </label>
                <label class="tiny-aiplacement-aspect-ratio-btn ml-2 mr-2">
                  <input type="radio" name="aspect-ratio" value="landscape">
                  <div class="tiny-aiplacement-aspect-ratio-label">
                    <i class="fas fa-mobile fa-rotate-90"></i>
                    <span>{{#str}} aspectlandscape, tiny_aiplacement{{/str}}</span>
                  </div>
                </label>
                <label class="tiny-aiplacement-aspect-ratio-btn">
                  <input type="radio" name="aspect-ratio" value="portrait">
                  <div class="tiny-aiplacement-aspect-ratio-label">
                    <i class="fas fa-mobile"></i>
                    <span>{{#str}} aspectportrait, tiny_aiplacement{{/str}}</span>
                  </div>
                </label>
              </div>

            </div>
          </div>
        </div>
        <div class="form-group mt-3">
          <label for="{{elementid}}_tiny_aiplacement_imageprompt" class="font-weight-bold">
            {{#str}} imageprompt_label, tiny_aiplacement {{/str}}
          </label>
          <textarea
              class="form-control"
              id="{{elementid}}_tiny_aiplacement_imageprompt"
              rows="3"
              placeholder="{{#str}} imageprompt_placeholder, tiny_aiplacement {{/str}}"></textarea>
        </div>
      </form>
    </div>
  {{/body}}

  {{$footer}}
    <button type="button"
            class="btn btn-secondary"
            data-action="cancel">
      {{#str}} cancel, moodle {{/str}}
    </button>
    <button id="{{elementid}}_tiny_aiplacement_generatebutton"
            type="button"
            class="btn btn-primary"
            data-action="generate"
            disabled="disabled">
      {{#str}} generate, tiny_aiplacement{{/str}}
    </button>
    <button id="{{elementid}}_tiny_aiplacement_nextbutton"
            type="button"
            class="btn btn-primary hidden"
            data-action="inserter">
      {{#str}} next, tiny_aiplacement{{/str}}
    </button>
  {{/footer}}

{{/ core/modal }}
